In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
data = pd.read_csv('c://users/admin/Downloads/movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']

In [3]:
data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000,-8444012
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,-40865180
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000,-3962091
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000,-9782502

In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
data = pd.read_csv('c://users/admin/Downloads/movie_bd_v5.csv')
gr = data.groupby(['budget'])['original_title'].max()
gr

budget
5000000                                       Wonderland
5500000                                   Predestination
6000000                              We Are Your Friends
6400000                                       Young Adam
6500000                                      The Pyramid
                                ...
258000000                                   Spider-Man 3
260000000                                        Tangled
280000000                        Avengers: Age of Ultron
300000000       Pirates of the Caribbean: At World's End
380000000    Pirates of the Caribbean: On Stranger Tides
Name: original_title, Length: 203, dtype: object

# Предобработка

In [10]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
..'
# если ответили верно, можете добавить комментарий со значком "+"

In [1]:
# тут пишем ваш код для решения данного вопроса:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
data = pd.read_csv('c://users/admin/Downloads/movie_bd_v5.csv')
gr = data.groupby(['budget'])['original_title'].max()
gr

budget
5000000                                       Wonderland
5500000                                   Predestination
6000000                              We Are Your Friends
6400000                                       Young Adam
6500000                                      The Pyramid
                                ...
258000000                                   Spider-Man 3
260000000                                        Tangled
280000000                        Avengers: Age of Ultron
300000000       Pirates of the Caribbean: At World's End
380000000    Pirates of the Caribbean: On Stranger Tides
Name: original_title, Length: 203, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
data = pd.read_csv('c://users/admin/Downloads/movie_bd_v5.csv')
#data.describe()
gr = data.groupby(['runtime'])['original_title'].max()
gr

runtime
63                                   Winnie the Pooh
72                                 The Jungle Book 2
76                                           Valiant
77                                      Corpse Bride
78                          The Emperor's New Groove
                           ...
183                                     Pearl Harbor
187                                        King Kong
191                                       Grindhouse
201    The Lord of the Rings: The Return of the King
214                                Gods and Generals
Name: original_title, Length: 105, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [0]:
answers['3'] ='Winnie the Pooh'

In [49]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
data = pd.read_csv('c://users/admin/Downloads/movie_bd_v5.csv')
#data.describe()
gr = data.groupby(['runtime'])['original_title'].min()
gr

runtime
63                                   Winnie the Pooh
72                              Return to Never Land
76                                 Home on the Range
77                                      Corpse Bride
78                                   Stuart Little 2
                           ...
183                                     Pearl Harbor
187                                        King Kong
191                                       Grindhouse
201    The Lord of the Rings: The Return of the King
214                                Gods and Generals
Name: original_title, Length: 105, dtype: object

# 4. Какова средняя длительность фильмов?

In [0]:
answers['4'] ='110'

In [50]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
data = pd.read_csv('c://users/admin/Downloads/movie_bd_v5.csv')

data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [0]:
answers['5'] ='107.0'

In [51]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
data = pd.read_csv('c://users/admin/Downloads/movie_bd_v5.csv')

data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [68]:
answers['6'] ='Avatar'

NameError: name 'answers' is not defined

In [67]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
data = pd.read_csv('c://users/admin/Downloads/movie_bd_v5.csv')
#profit=[]
#profit = data['revenue'] - data['budget']
#profit
data['profit'] = data['revenue'] - data['budget']
gr = data.groupby(['profit'])['original_title'].max()
gr

profit
-165710090                  The Lone Ranger
-119180039                        The Alamo
-111007242                  Mars Needs Moms
-92896027      The Adventures of Pluto Nash
-84540684                      Flushed Away
                           ...
 1299557910                    The Avengers
 1316249360                       Furious 7
 1363528810                  Jurassic World
 1868178225    Star Wars: The Force Awakens
 2544505847                          Avatar
Name: original_title, Length: 1881, dtype: object

# 7. Какой фильм самый убыточный?

In [69]:
answers['7'] ='The Lone Ranger'

profit
-165710090                  The Lone Ranger
-119180039                        The Alamo
-111007242                  Mars Needs Moms
-92896027      The Adventures of Pluto Nash
-84540684                      Flushed Away
                           ...
 1299557910                    The Avengers
 1316249360                       Furious 7
 1363528810                  Jurassic World
 1868178225    Star Wars: The Force Awakens
 2544505847                          Avatar
Name: original_title, Length: 1881, dtype: object

In [70]:
data = pd.read_csv('c://users/admin/Downloads/movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
gr = data.groupby(['profit'])['original_title'].min()
gr

profit
-165710090                  The Lone Ranger
-119180039                        The Alamo
-111007242                  Mars Needs Moms
-92896027      The Adventures of Pluto Nash
-84540684                      Flushed Away
                           ...
 1299557910                    The Avengers
 1316249360                       Furious 7
 1363528810                  Jurassic World
 1868178225    Star Wars: The Force Awakens
 2544505847                          Avatar
Name: original_title, Length: 1881, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [0]:
answers['8']='1478'

In [80]:
data = pd.read_csv('c://users/admin/Downloads/movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
f = data[data.revenue>data.budget]
f.count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [0]:
answers['9']='The Dark Knight'

In [189]:
data = pd.read_csv('c://users/admin/Downloads/movie_bd_v5.csv')
#display(data[(data.revenue.max())&(data.original_title)])
gr1=data[data.release_date.str.contains("2008", na=False)]
gr1.groupby(['revenue'])['original_title'].min()

revenue
2033165                                       Mutant Chronicles
3533227                                 The Midnight Meat Train
5530764                                      The Brothers Bloom
5926410                                           Transsiberian
6673422                                      What Just Happened
                                    ...
609841637                                            Mamma Mia!
624029371                                               Hancock
631744560                                         Kung Fu Panda
786636033     Indiana Jones and the Kingdom of the Crystal S...
1001921825                                      The Dark Knight
Name: original_title, Length: 121, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [0]:
answers['10']='The Lone Ranger'

In [139]:
#gr1=data[data.release_year==2012&2013&2014]
#gr1.groupby(['profit'])['original_title'].min()
#gr2=data[data.release_date.str.contains("2013", na=False)]
#gr2.groupby(['profit'])['original_title'].min()
#gr3=data[data.release_date.str.contains("2014", na=False)]
#gr3.groupby(['profit'])['original_title'].min()
data[(data.release_year>2012) & (data.release_year<=2014) ][['imdb_id', 'revenue', 'profit', 'original_title',]].query('profit == profit.min()')

        imdb_id   revenue     profit   original_title
1245  tt1210819  89289910 -165710090  The Lone Ranger

# 11. Какого жанра фильмов больше всего?

ВАРИАНТ 2

In [ ]:
answers['11']='Drama'

In [91]:
data = pd.read_csv('c://users/admin/Downloads/movie_bd_v5.csv')
s = data.genres.str.split('|',expand=True).stack().value_counts()
display(s)

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [184]:
answers['12']='Drama'

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

In [91]:
data = pd.read_csv('c://users/admin/Downloads/movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data_profit=data[data.profit>0]
genres=data_profit.genres.str.split('|',expand=True).stack().value_counts()
print(genres)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [200]:
answers['13']='Peter Jackson'

NameError: name 'answers' is not defined

In [92]:
data = pd.read_csv('c://users/admin/Downloads/movie_bd_v5.csv')
revenue=data.director.value_counts()
revenue
table = pd.pivot_table(data, values='revenue', index=['director'], aggfunc='sum', fill_value=0)
table.sort_values('revenue')

                      revenue
director
Simon Hunter          2033165
Keanu Reeves          2054941
Paul Schrader         2062066
Steven Shainberg      2281089
David MichÃ´d         2295423
...                       ...
J.J. Abrams        3579169916
Michael Bay        3886938960
David Yates        4154295625
Christopher Nolan  4167548502
Peter Jackson      6490593685

[957 rows x 1 columns]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [51]:
data = pd.read_csv('c://users/admin/Downloads/movie_bd_v5.csv')

#grouped1 = data[data.director.str.contains("Michael Bay", na=False)]
#grouped1
grouped1 = data[data.genres.str.contains("Action", na=False)]
#display(grouped1)
grouped1['director'].value_counts()
grouped2 = grouped1['director'].str.split('|',expand=True).stack().value_counts()
display(grouped2)
#table = pd.pivot_table(data, values=('genres'=='Action'), index=['director'], aggfunc='count', fill_value=0)
#table
#small_football = table[table.genres == 'Action']
#small_football.director.value_counts()
#s = small_football['director'].value_counts(bins=4)
#display(s)

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Kevin Bray            1
Jimmy Hayward         1
Neil Burger           1
Patrick Hughes        1
Robert Luketic        1
Length: 364, dtype: int64

In [ ]:
answers['14']='Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [94]:

df = data.copy()
df['new_cast'] = data[data.release_year == 2012]['cast'].str.split('|')
df = df.explode('new_cast')
df.groupby(by = 'new_cast')['revenue'].agg('sum').sort_values(ascending=False)

new_cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

In [ ]:
answers['15']='Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [ ]:
answers['16']='Matt Damon'

In [0]:
#Высокобюджетный фильм - это фильм, у которого бюджет выше среднего

In [95]:
data = pd.read_csv('c://users/admin/Downloads/movie_bd_v5.csv')
max_b = data['budget'].mean()
max_b
gr1=data[(data['budget'] > max_b)]#.sort_values('budget')
gr1['cast'].str.split('|',expand=True).stack().value_counts()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Tom Cruise           15
                     ..
Jessica Lange         1
Avery Brooks          1
Eugenio Derbez        1
Larry Miller          1
Martin Klebba         1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [3]:
data = pd.read_csv('c://users/admin/Downloads/movie_bd_v5.csv')
gr1=data[data.cast.str.contains('Nicolas Cage', na=False)]
gr1['genres'].str.split('|',expand=True).stack().value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Family              3
Mystery             3
History             2
Romance             1
War                 1
Horror              1
dtype: int64

In [ ]:
answers['17']='Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [96]:

gr1=data[data.production_companies.str.contains('Paramount Pictures', na=False)]
gr1['profit'] = gr1['revenue'] - gr1['budget']
gr1.groupby(['profit'])['original_title'].min()

C:\Users\Admin\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

profit
-64831034                                  K-19: The Widowmaker
-60519261                                              Timeline
-51788987                                                  Next
-46604061                                                 Alfie
-24805000                                               Twisted
                                    ...
 549713380                 Mission: Impossible - Ghost Protocol
 559709780                                         Transformers
 601636033    Indiana Jones and the Kingdom of the Crystal S...
 686297228                  Transformers: Revenge of the Fallen
 928746996                       Transformers: Dark of the Moon
Name: original_title, Length: 122, dtype: object

In [ ]:
answers['18']='K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

answers['19']='2015'

In [97]:
data['profit'] = data['revenue'] - data['budget']
gr1=data.groupby('release_year')['revenue'].sum()#.idxmax()
gr1.sort_values()

release_year
2000    10664099805
2001    13017764865
2002    14136361487
2003    14346123312
2006    14775042320
2005    15309425558
2004    15663430720
2007    18162406801
2008    18252781990
2009    20261791024
2010    21071204961
2011    22676791872
2012    23079001687
2013    23213799791
2014    23405862953
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [99]:
answers['20']='2014'

NameError: name 'answers' is not defined

In [101]:
data['profit'] = data['revenue'] - data['budget']
gr1=data[data.production_companies.str.contains('Warner Bros')].groupby('release_year')['profit'].sum()#.idxmax()
gr1.sort_values()

release_year
2000     452631386
2006     620170743
2015     870368348
2002    1022709901
2012    1258020056
2001    1343545668
2005    1551980298
2004    1631933725
2013    1636453400
2009    1822454136
2003    1855493377
2011    1871393682
2010    1974712985
2008    2134595031
2007    2201675217
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [37]:
answers['21']='9'

Empty DataFrame
Columns: [imdb_id, budget, revenue, original_title, cast, director, tagline, overview, runtime, genres, production_companies, release_date, vote_average, release_year]
Index: []

In [105]:
data['release_date'] = pd.to_datetime(data['release_date'])
for i in range (0, 13):
    total_movies_in_months = len(data[data.release_date.dt.month.isin([i])])
data.release_date.dt.month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [3]:
data2 = data[data.release_date.str.match('6\D|7\D|8\D', na = False)]
data2.original_title.count()

450

In [ ]:
answers['22']='450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [4]:
data2 = data[data.release_date.str.match('2\D|12\D|1\D', na = False)]

data2['director'].value_counts()

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Adam Shankman        4
Nancy Meyers         4
                    ..
Alister Grierson     1
David Fincher        1
Gavin O'Connor       1
Olivier Megaton      1
Mennan Yapo          1
Name: director, Length: 332, dtype: int64

In [ ]:
answers['23']='Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [5]:
def counter(data, x):
    data_plot=data[x].str.cat(sep='|')
    dat=pd.Series(data_plot.split('|'))
    info=dat.value_counts(ascending=False)
    return info
data['title_words_length'] = data.original_title.map(lambda x: len(x.split(' ')))
sum_gen=counter(data,'production_companies')
for gen in sum_gen.index:
    sum_gen[gen] = data['title_words_length'][data['production_companies'].map(lambda x: True if gen in x else False)].mean()
sum_gen = pd.DataFrame(sum_gen).sort_values(0, ascending=False)
sum_gen

                                       0
Four By Two Productions               12
Jim Henson Company, The               10
Polsky Films                           9
Dos Corazones                          9
The Saul Zaentz Company                9
...                                   ..
ShivHans Pictures                      1
SND                                    1
American Entertainment Partners L.P.   1
Kickstart Productions                  1
LD Entertainment                       1

[1771 rows x 1 columns]

In [ ]:
answers['24']='Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [6]:
def counter(data, x):
    data_plot=data[x].str.cat(sep='|')
    dat=pd.Series(data_plot.split('|'))
    info=dat.value_counts(ascending=False)
    return info
data['overview_words_length'] = data.overview.map(lambda x: len(x.split(' ')))
sum_gen=counter(data,'production_companies')
for gen in sum_gen.index:
    sum_gen[gen] = data['overview_words_length'][data['production_companies'].map(lambda x: True if gen in x else False)].mean()
sum_gen = pd.DataFrame(sum_gen).sort_values(0, ascending=False)
sum_gen

                                         0
Midnight Picture Show                  175
Heineken Branded Entertainment         161
Room 9 Entertainment                   161
98 MPH Productions                     159
Brookwell-McNamara Entertainment       156
...                                    ...
Henceforth                              13
Our Stories Films                       13
London Boulevard                        13
Empire Pictures                         11
Motion Picture Corporation of America   11

[1771 rows x 1 columns]

In [ ]:
answers['25']='Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [89]:
df=data['original_title']
np.quantile(df.vote_average, 0.1, axis=data.original_title, out=None, overwrite_input=False, interpolation='linear', keepdims=False)

KeyError: 'vote_average'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

from itertools import combinations
actor_list = data.cast.str.split('|').tolist()
combo_list=[]
for i in actor_list:
   for j in combinations(i, 2):
       combo_list.append(' '.join(j))
combo_list = pd.DataFrame(combo_list)
combo_list.columns = ['actor_combinations']
combo_list.actor_combinations.value_counts().head(10)

In [7]:
from itertools import combinations
actor_list = data.cast.str.split('|').tolist()
combo_list=[]
for i in actor_list:
   for j in combinations(i, 2):
       combo_list.append(' '.join(j))
combo_list = pd.DataFrame(combo_list)
combo_list.columns = ['actor_combinations']
combo_list.actor_combinations.value_counts().head(10)

Daniel Radcliffe Emma Watson        8
Daniel Radcliffe Rupert Grint       8
Rupert Grint Emma Watson            7
Johnny Depp Helena Bonham Carter    6
Ben Stiller Owen Wilson             6
Kristen Stewart Taylor Lautner      5
Hugh Jackman Ian McKellen           5
Kristen Stewart Robert Pattinson    5
Robert Pattinson Taylor Lautner     5
Adam Sandler Kevin James            5
Name: actor_combinations, dtype: int64

In [ ]:
answers['27']='Daniel Radcliffe Rupert Grint'

# Submission